@font-face {
  font-family: 'Cubano';
  src: url('/public/fonts/Cubano-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-Regular.otf') format('opentype');
}
