.my-header {
  background-color: $blue;
  height: 75px;
  padding: 0px 30px;
}

.user_image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-size: 60px;
}

.user {
  cursor: pointer;
  .user_name {
    color: $white;
  }

  .user_team {
    color: $salmon;
  }


  .icon {
    color: $white;
  }

  .inactive {
    display: none;
  }

  .active {
    display: block;
  }

  .user_actions {
    position: absolute;
    height: 40px;
    min-width: 150px;
    right: 15px;
    top: 80px;
    vertical-align: middle;
    padding-top: 10px;
    background-color: $salmon;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);

    &:before, &:after {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-bottom-color: $salmon;
      border-width: 10px;
      left: 70%;
      margin-left: 8px;
    }

    &:before {
      border-width: 20px;
      left: 70%;
      margin-left: -20px;
    }
  }
}
