.logo {
  font-family: "Cubano";
  span {
    font-size: 50px;
    color: $white;
  }
  svg {
    height: 35px;
  }
}

.branding {
  text-align: center;
  .logo {
    span {
      font-size: 150px;
      color: $light-purple;
    }

    svg {
      height: 100px;
    }

    path {
      stroke: $light-purple;
    }

    polygon {
      fill: $light-purple;
    }
  }
}
