body {
  /* background color, padding */
  background-color: #02132F;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #FFFFFF;
  font-size: 80px;
  font-weight: 700;
}

h2 {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 25px;
  margin: 50px auto 0;
  max-width: 400px;
}

img {
  position: relative;
  margin: 50px;
  text-align: center;
}

span {
  font-weight: 700;
  font-size: 80px;
}
